   
<div class="bottom-container">
   <nav class="bottom"> 
        <ul> 
            <li>JEUX</li>
            <li> <a href="#">Le Cartel </a></li>
            <li><a href="#">Le Casse Du Siècle</a></li>
            <li><a href="#">La Grande Illusion</a></li>
        </ul>
        <ul>
            <li>ÉVÈNEMENTS</li>
            <li><a href="#">Entreprise</a></li>
            <li><a href="#">Cadeaux</a></li>
        </ul>
        <ul>
            <li>À PROPOS</li>
            <li><a href="#">Offres d'emploi</a></li>
            <li><a href="#">Foire aux questions</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Confidentialité</a></li>
        </ul>

        <ul class="contact-icons">
            <li>CONTACT</li>
            <a href ="https://the-box.fr/" class ="icons messenger"> <div> </div></a>
            <a href ="#" class ="icons facebook"></a>
            <a href ="#" class ="icons tripadvisor"></a>
            <a href ="#" class ="icons youtube"></a>
            <a href ="#" class ="icons twitter"></a>
            <a href ="#" class ="icons linkedin"></a>
            <a href ="#" class ="icons mail"></a>
            <a href ="#" class ="icons phone"></a>
        </ul>
    </nav>
    <p>Copyright © 2016-2042 The Box</p>
</div>


