{% block navbar %}
<div class="navbar-container"> 
    <nav class ="navbar">
        <input type="checkbox" id ="check">
        <label for ="check" class="checkbtn"> <i class="fas fa-bars"></i></label>
        <img src ={{log}} alt="the-box logo" >
        <ul>
            <li><a class="active" href ="/"> ACCEUIL </a></li>
            <li><a href ="/reservation"> RÉSERVATION </a></li>
            <li><a href ="/cadeaux"> CADEAUX </a></li>
            <li><a href ="/jeux"> JEUX </a></li>
            <li><a href ="/faq"> FAQ </a></li>
            <li><a href ="/contact"> CONTACT </a></li>
            </ul>
    </nav>
</div>  

{% endblock %}